Flask==3.0.2
huggingface-hub==0.21.3
langchain==0.1.11
langchain-community==0.0.25
langchain-core==0.1.29
langchain-text-splitters==0.0.1
langdetect==1.0.9
redis==5.0.2
sentence-transformers==2.5.1
text_generation
datetime
Flask[async]
gunicorn
Flask-CORS
httpx
